---
layout: default
---

<div class="post-content">
  <h1>
    {{ page.title }}
  </h1>
  {% if site.hide_post_date != true %}
    {% include post-date.html %}
  {% endif %}
  {% if page.image %}
    <div class="featured-image">
      <img src="/assets/img/{{ page.image }}">
    </div>
  {% endif %}
  <article>
    {{ content }}

    <h2>Discussions</h2>

    <p>If you have any thoughts about this, check out the <a href="https://github.com/orgs/clueboard/discussions" target="_blank">GitHib Discussions</a> I setup. I’d be thrilled to hear from you.</p>
  </article>
</div>
